@model List<NewCode.Model.Cars>
@{
    ViewData["Title"] = "Cars";
}
<h1>@ViewData["Title"]</h1>

<table>
    <thead>
        <th>
            Name
        </th>
        <th>
            Brand
        </th>
        <th>
            Color
        </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr><td>@item.Name</td><td>@item.Brand</td><td>@item.Color</td></tr>            
        }
    </tbody>
</table>
